body, html {
    height: 100%;  /* Ensures the body takes up the full viewport height */
    margin: 0;     /* Removes default margin */
    background-color: black;
    color:chartreuse;
}

#mudwrapper {
    height: 100vh;
    overflow-y: auto; /* Allows scrolling if content exceeds the viewport height */
}

#inputwrapper {
    position: fixed;
    bottom: 0px;
}

#xmudwrapper {
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Allows scrolling if content exceeds the viewport height */
    display: flex;
}

/* For better user experience, hide scrollbar if not needed */
#xmudwrapper::-webkit-scrollbar {
    width: 0.5em;
}

#xmudwrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}